<div id="instructions_slide" >

    <div>

	    <p>
            In this next task, you will be shown sets of arrows.       
        </p>
	    
	    <p>
            You will determine whether the center arrow is pointing right or left.
        </p>

        <p>
            Try to ignore the other arrows and focus only on the center arrow.
        </p>

        <p>
            Press the spacebar to continue.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

    </div>


</div>
